@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Create your personal song list, Join with other users to form a group, greate your groups song list from its members personal song lists.</p>
